Makefile
build-stamp
config.*
configure-stamp
debian/files
debian/*.substvars
doc
*/Makefile
*/moc
*/obj
*/out
debian/libtransfer-ui-dev
debian/tmp
debian/transfer-ui-dbg
debian/transfer-ui-doc
debian/transfer-ui-tests
debian/transfer-ui-utils
debian/transfer-ui
transfer-ui-utils/transferengine_interface.*
transfer-ui/transferengine_adaptor.*
